// ☷ ~/config/lily58.keymap
// separate project now but i want to integrate it in lithos somehow in the future
// scripture must be renamed to kjarra related somehow in the future too

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

// LGUI      LALT      LCTRL     LSHFT
// RGUI      RALT      RCTRL     RSHFT
// LEFT      DOWN      UP        RIGHT

#define CUT         LC(X)
#define COPY        LC(C)
#define PASTE       LC(V)
#define ALL         LC(A)

#define APP1        LG(N1)
#define APP2        LG(N2)
#define APP3        LG(N3)

#define UNDO        LC(Z)
#define REDO        LC(LS(Z))
#define SAVE        LC(S)

#define RFSH        LC(R)
#define DVTLS       LC(LS(I))
#define FIND        LC(F)
#define SHENT       LS(ENTER)

#define _________   &none          // no physical key
#define _           &none          // no physical key
#define mmmmmmmmm   &none          // free to assign press
#define xxxxxxxxx   &none          // currently pressed



#define BACK        LC(LS(T))
#define WDRAW       LC(W)
#define TABN        LC(T)
#define TABL        LC(LS(TAB))
#define TABR        LC(TAB)

// SPACE     BSPC      DEL       ESC       ENTER     PSCRN

// LPAR  (   RPAR  )   LBRC  {   RBRC  }   LBKT  [   RBKT  ]
// COMMA ,   DOT   .   QMARK ?   EXCL  !   GRAVE `   SQT   '   DQT   "   EQUAL =   COLON :   SEMI  ;

// LT    <   GT    >   AMPS  &   PIPE  |   FSLH  /   BSLH  \   CARET ^   TILDE ~
// UNDER _   MINUS -   PLUS  +   HASH  #   ASTRK *   DLLR  $   AT    @   PRCNT %

/ {
    keymap {
        compatible = "zmk,keymap";
        l0 { bindings = <
_________ &kp REDO  &kp UNDO  _________ _________ _________             _ _ _ _ _ _
&kp ESC   _________ &kp DEL   &kp F13   &kp SAVE  &kp PSCRN             _ _ _ _ _ _
&kp LSHFT &kp DOT   &kp BSPC  &kp SPACE &kp ENTER &kp SHENT             _ _ _ _ _ _
_________ &kp ALL   &kp CUT   &kp COPY  &kp PASTE _________ _________ _ _ _ _ _ _ _
                              _________ &mkp MB2  &mkp MB1  &mkp MB3  _ _ _ _
        >; };
    };
};
